### Laden der Bibliotheken

In [10]:
import pandas as pd
import numpy as np
import os

# Import des Datensatzes
dataf = pd.read_csv("https://raw.githubusercontent.com/FabsenMc/bakery_prediction/main/0_DataPreparation/dataf.csv")
dataf.head()  # Erste Zeilen anzeigen

,Datum,KielerWoche,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Beschreibung,FerienSH,Feiertag,Uhrzeit,Heim_Auswärts,Umschlag,Weihnachtsmarkt,Regen,Wochentag_MDMDFSS,Wochenende,Jahreszeit_FSHW,Temperatur_Kategorie
0,2012-01-01,NaN,NaN,NaN,8.0,9.8250,14.0,58.0,leichter Spruehregen mit Regen,1.0,1.0,NaN,NaN,NaN,NaN,1,6,1,4,Niedrig
1,2012-01-02,NaN,NaN,NaN,7.0,7.4375,12.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,0,0,0,4,Niedrig
2,2012-01-03,NaN,NaN,NaN,8.0,5.5375,18.0,63.0,durchgehend maessiger Regen,1.0,0.0,NaN,NaN,NaN,NaN,1,1,0,4,Niedrig
3,2012-01-04,NaN,NaN,NaN,4.0,5.6875,19.0,80.0,leichter Regenschauer,1.0,0.0,NaN,NaN,NaN,NaN,1,2,0,4,Niedrig
4,2012-01-05,NaN,NaN,NaN,6.0,5.3000,23.0,80.0,leichter Regenschauer,1.0,0.0,NaN,NaN,NaN,NaN,1,3,0,4,Niedrig

### Daten in das richtige Format bringen und kodieren, damit das neuronale Netz am Ende was damit anfangen kann

In [14]:
print(dataf.dtypes)

# sichergehen dass das Datum richtig formatiert ist
dataf['Datum'] = pd.to_datetime(dataf['Datum'])

# Das encoded die Warengruppe über mehrere Spalten
pivot = dataf.pivot_table(index='Datum', columns='Warengruppe', values='Umsatz').reset_index()
print(pivot.head())

# Features aus dem Datensatz herausziehen (hier nur beispielhaft, muss erweitert werden), die ins neuronale Netz eingehen sollen (es scheinen alle am Ende Kategorial zu sein bei uns)
categorical_features = ['Warengruppe', 'Wochenende']

#Schauen welchen Typ die gewählten Features haben, deren Einträge checken und in kategorische umwandeln
print(dataf[categorical_features].dtypes)
print("Unique Values:\n",dataf[categorical_features].apply(lambda x: x.unique()))
for col in categorical_features:
    dataf[col] = dataf[col].astype('category')

# Die gewählten Features hier in dummies codieren
features = pd.get_dummies(dataf[categorical_features], drop_first=True, dtype=int)

# hier könnte man jetzt nicht kategroische numerische Features mit anfügen, davon haben wir glaube ich keine
#features['Spaltenname'] = dataf['Spaltenname']

# Hier zieht man jetzt die dependend Varibale aus dem ursprünglichen Datensatz raus (Bei uns der Umsatz) und fügt sie mit den Features zusammen
prepared_data = pd.concat([dataf[['Umsatz']], features], axis=1)

# missing values werden entfernt
prepared_data = prepared_data.dropna()

# Display the shape of the prepared data set
print(prepared_data.shape)
# Display the first few rows of the prepared data set
prepared_data.head()

Datum                   datetime64[ns]
KielerWoche                    float64
Warengruppe                   category
Umsatz                         float64
Bewoelkung                     float64
Temperatur                     float64
Windgeschwindigkeit            float64
Wettercode                     float64
Beschreibung                    object
FerienSH                       float64
Feiertag                       float64
Uhrzeit                         object
Heim_Auswärts                   object
Umschlag                       float64
Weihnachtsmarkt                float64
Regen                            int64
Wochentag_MDMDFSS                int64
Wochenende                    category
Jahreszeit_FSHW                  int64
Temperatur_Kategorie            object
dtype: object
Warengruppe      Datum         1.0         2.0         3.0         4.0  \
0           2013-07-01  148.828353  535.856285  201.198426   65.890169
1           2013-07-02  159.793757  546.780787  265.261254   74.543917
2           2013-07-03  111.885594  427.343259  210.260241   69.262728
3           2013-07-04  168.864941  454.859641  190.686641   61.490175
4           2013-07-05  171.280754  492.818804  181.644870   86.759861
5           2013-07-06  174.552360  631.906068  291.557960   80.646577
6           2013-07-07   92.637755  695.255730  279.665939   94.603902
7           2013-07-08  135.500244  538.529250  195.158794   49.500024
8           2013-07-09  136.048383  585.957265  245.808339   75.208998
9           2013-07-10  135.132314  567.365765  265.109143   73.805651
10          2013-07-11  138.549393  569.109375  234.658079   68.633028
11          2013-07-12  101.447511  600.267915  290.199098         NaN
12          2013-07-13  141.233310  747.140776  340.046633   74.274474
13          2013-07-14  112.524366  777.048842  320.626816  115.271617
14          2013-07-15  161.264677  596.995100  243.526401   99.493531
15          2013-07-16  116.821358  558.797138  287.415465   91.779698
16          2013-07-17  150.572920  628.325719  301.777438         NaN
17          2013-07-18  101.900721  647.822254  250.426587   89.205840
18          2013-07-19  161.635115  646.788960  287.188286   62.063610
19          2013-07-20  134.328077  843.051280  394.765675   69.936997
20          2013-07-21   66.288758  815.942264  346.658236   82.682687
21          2013-07-22  131.223949  647.682749  297.712614   99.335391
22          2013-07-23  110.315247  691.043662  323.301432   70.529002
23          2013-07-24  141.891908  698.340862  328.023103   83.581633
24          2013-07-25  167.701217  681.250768  280.809721   65.890298
25          2013-07-26  147.272084  718.016648  352.293883   53.198456
26          2013-07-27  161.403358  855.619095  382.965880         NaN
27          2013-07-28   86.079143  871.802546  360.096105         NaN
28          2013-07-29  183.564164  672.502145  356.033435         NaN
29          2013-07-30  132.111640  690.117757  354.531775         NaN
30          2013-07-31  144.745432  667.842224  321.075921         NaN
31          2013-08-01  157.854023  667.213719  304.830310   60.561457
32          2013-08-02  117.359342  689.695101  379.526701   68.122202
33          2013-08-03  186.027179  930.801703  454.705781   51.274999
34          2013-08-04  104.708217  862.752429  382.856488   67.156882
35          2013-08-05  146.775310  520.947180  331.615355         NaN
36          2013-08-06  131.956277  498.920948  344.104807   69.705360
37          2013-08-07  160.593417  519.197205  341.483545   83.109412
38          2013-08-08  153.099425  486.255095  298.005520   96.772096
39          2013-08-09  125.620344  539.975155  328.229924   81.481780
40          2013-08-10  185.177163  614.511831  351.617029   59.981112
41          2013-08-11   73.208833  666.911308  341.033030   60.708786
42          2013-08-12  154.504730  510.019126  253.623355   97.740617
43          2013-08-13  134.064452  535.403213  271.591284  113.863642
44          2013-08-14  156.972511  520.123591  309.116290  105.567865
45          2013-08-15  164.763795  538.231263  266.575409   59.756102
46          2013-08-16  147.797998  552.153715  241.768975   75.256462
47          2013-08-17  221.630418  583.657434  280.170046   96.529314
48          2013-08-18   92.489779  669.186211  282.599786  150.122397
49          2013-08-19  145.879133  499.912513  249.391161  107.407999

Warengruppe         5.0  6.0
0            317.475875  NaN
1            383.628682  NaN
2            305.523072  NaN
3            308.408168  NaN
4            355.518770  NaN
5            361.866933  NaN
6            370.209601  NaN
7            285.233382  NaN
8            342.089346  NaN
9            343.353067  NaN
10           315.911757  NaN
11           362.802490  NaN
12           359.166189  NaN
13           461.082125  NaN
14           380.683697  NaN
15           320.435336  NaN
16           396.994247  NaN
17           300.398790  NaN
18           369.400389  NaN
19           346.154004  NaN
20           287.443789  NaN
21           356.484067  NaN
22           316.296817  NaN
23           327.339401  NaN
24           303.192538  NaN
25           331.522092  NaN
26           358.892714  NaN
27           437.824795  NaN
28           368.951029  NaN
29           424.086157  NaN
30           426.985804  NaN
31           322.294307  NaN
32           282.371517  NaN
33           399.283316  NaN
34           461.704849  NaN
35           354.247243  NaN
36           441.521507  NaN
37           423.850318  NaN
38           464.875372  NaN
39           450.085987  NaN
40           450.993337  NaN
41           583.491718  NaN
42           356.026342  NaN
43           344.643464  NaN
44           441.253112  NaN
45           416.610038  NaN
46           344.468629  NaN
47           519.834929  NaN
48           479.499542  NaN
49           374.247117  NaN
Warengruppe    category
Wochenende     category
dtype: object
Unique Values:
 Warengruppe    [NaN, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
Categories...
Wochenende                  [1, 0]
Categories (2, int64): [0, 1]
dtype: object
(9334, 7)

/tmp/ipykernel_52958/2345656826.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = dataf.pivot_table(index='Datum', columns='Warengruppe', values='Umsatz').reset_index()

,Umsatz,Warengruppe_2.0,Warengruppe_3.0,Warengruppe_4.0,Warengruppe_5.0,Warengruppe_6.0,Wochenende_1
547,148.828353,0,0,0,0,0,0
548,535.856285,1,0,0,0,0,0
549,201.198426,0,1,0,0,0,0
550,65.890169,0,0,1,0,0,0
551,317.475875,0,0,0,1,0,0

### Den vorbereiteten Datensatz in Trainings und Validierungsdaten teilen